
#viewer {
    width: 99vw;
    height: 90vh;
}

.marker {
    max-width: 200px;
}
.marker a {
    font-size: 26px;
    text-align: center;
    color: white;
    text-decoration: none;
}

/*// Buy now*/
/*#psv-marker-text-2 .marker {*/
/*    width: 500px;*/
/*    height: 500px;*/
/*}*/
/*#psv-marker-text-2 .marker a {*/
/*    bottom: -507px;*/
/*    left: 80px;*/
/*    position: relative;*/
/*}*/
