<form [formGroup]="form" class="form">
<input formControlName="name">
<app-selector
  formControlName="custom"
></app-selector>
<!--  <app-selector-provider formControlName="custom"></app-selector-provider>-->

<!--  <app-selector-just-control [control]="form.controls.custom"></app-selector-just-control>-->
  <button (click)="onSubmit()">Submit</button>
  <button (click)="onValid()">valid</button>
  <button (click)="onDis()">disabled</button>
  <button (click)="onReset()">Reset</button>
</form>
