.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 30%;
    left: 25%;
    width: 50%;
}

.ModalOpen {
    animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
    animation: closeModal 1s ease-out forwards;
}

.fade-slide-enter {

}

.fade-slide-enter-active {
    animation: openModal 0.4s ease-out forwards;
}

.fade-slide-exit {

}
.fade-slide-exit-active {
    animation: closeModal 0.4s ease-out forwards;
}
@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        display: block;
    }
}
@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(10%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        transform: translateY(999999999999999px);
        opacity: 0;
        display: none;
    }
}
