<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          projectName
          <input
            type="text"
            formControlName="projectName"
            class="form-control">
        </div>
        <div class="form-group">
          Email
          <input
            type="email"
            formControlName="email"
            class="form-control">
        </div>
        <div class="form-group">
          <select
            class="form-control"
            formControlName="projectStatus"
          >
            <option
              *ngFor="let opt of projectStatusOptions"
              [ngValue]="opt"
            >
              {{opt}}
            </option>
          </select>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
    </div>
  </div>
</div>
