<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
<!--        <div *ngIf="onlyOdd">-->
<!--          <li-->
<!--            class="list-group-item"-->
<!--            [ngClass]="{odd: oddN % 2 !== 0}"-->
<!--            [ngStyle]="{backgroundColor: oddN % 2 !== 0 ? 'black' : 'green'}"-->
<!--            *ngFor="let oddN of oddNumbers">-->
<!--            {{ oddN }}-->
<!--          </li>-->
<!--        </div>-->
<!--        <ng-template [ngIf]="!onlyOdd">-->
<!--          <div>-->
<!--            <li-->
<!--              class="list-group-item"-->
<!--              [ngClass]="{odd: evenN % 2 !== 0}"-->
<!--              [ngStyle]="{backgroundColor: evenN % 2 !== 0 ? 'black' : 'green'}"-->
<!--              *ngFor="let evenN of evenNumbers">-->
<!--              {{ evenN }}-->
<!--            </li>-->
<!--          </div>-->
<!--        </ng-template>-->
        <div *appUnlesss="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: oddN % 2 !== 0}"
            [ngStyle]="{backgroundColor: oddN % 2 !== 0 ? 'black' : 'green'}"
            *ngFor="let oddN of oddNumbers">
            {{ oddN }}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>asd adasd asd asd asd</p>
      <p appBetterHighlight [defaultColor]="'black'" [highlightColor]="'red'">asd adasd asd asd asd</p>

      <div [ngSwitch]="1">
        <p *ngSwitchCase="1">1</p>
        <p *ngSwitchCase="989"> 989</p>
        <p *ngSwitchCase="231">231</p>
        <p *ngSwitchDefault>58</p>
      </div>
    </div>
  </div>
</div>
