<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f='ngForm'>
      <div class="form-group">
        <label>
          Email:
          <input
            class="form-control"
            type="email"
            name="email"
            ngModel
            email
            required
            #elEmail="ngModel"
          >
          <p class="label-warning" *ngIf="!elEmail.valid && elEmail.touched">Email is Valid!</p>
        </label>
      </div>
        <div class="form-group">
          <label>
            Subscriptions:
            <select
              name="sub"
              class="form-control"
              [ngModel]="subscriptions[1]">
              <option *ngFor="let sub of subscriptions" [value]="sub">{{sub}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label>
            Password:
          <input
            class="form-control"
            type="password"
            name="password"
            autocomplete="current-password"
            required
            ngModel
            #elPassword="ngModel"
            >
          </label>
          <p class="warning" *ngIf="!elPassword.valid && elPassword.touched"> Password is valid</p>
        </div>
        <p class="has-error" *ngIf="!f.valid && f.touched">Form is valid</p>
        <button class="btn btn-primary">Submit</button>
      </form>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
