<div class="panel panel-default">
  <div class="panel-heading" #heading>{{ element.name }}</div>
  <div class="panel-body">
    <ng-content></ng-content>
  </div>
  <p>Переменная, измененяющайся по клику Change {{test}}</p>
</div>
