<label>Server Name: {{serverName}}</label>
<!--<input-->
<!--  type="text"-->
<!--  class="form-control"-->
<!--  (input)="onUpdateServerName($event)">-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add server</button>

{{serverCreationStatus}}
<p [innerHTML]="allowNewServer"></p>

<p *ngIf="serverCreated; else noServer">Server was created</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>
