<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div [formGroupName]="'userData'">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username">
            <div class="errors" *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched">
            <span
              class="help-block"
              *ngIf="signupForm.get('userData.username').errors['required']">
              User name is required!</span>
            <span
              class="help-block"
              *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">
              User name is nameIsForbidden!</span>
            </div>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email">
            <p class="help-block" *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">Email is
              valid</p>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              formControlName="gender"
              type="radio"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div>
          <h4>Your Hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</button>
          <div
            formArrayName="hobbies"
            *ngFor="let hobbyControl of getControls(); let i = index"
            class="form-group">
            <input
              type="text"
              class="form-control"
              [formControlName]="i">
          </div>
        </div>
        <p class="help-block" *ngIf="!signupForm.valid && signupForm.touched">Form is Valid!</p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
