app-root
  margin: 0 auto
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-content: center
.form
  display: flex
  flex-direction: column
  width: 150px
button
  margin-top: 15px
.ng-invalid.ng-touched
  border-color: red
